In [1]:
from fastai.datasets import untar_data, URLs
from fastai.vision import ImageDataBunch, models, accuracy
from fastai.vision.learner import cnn_learner

path = untar_data(URLs.MNIST_SAMPLE)
data = ImageDataBunch.from_folder(path)
learn = cnn_learner(data, models.resnet18, metrics=accuracy)
learn.fit(1)

In [16]:
from fastai.tabular import *
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

Downloading http://files.fast.ai/data/examples/adult_sample

In [17]:
df['salary'].unique()

array(['>=50k', '<50k'], dtype=object)

In [18]:
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k

[5 rows x 15 columns]

In [20]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [21]:
data.show_batch(rows=10)

In [22]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit(1, 1e-2)

epoch     train_loss  valid_loss  accuracy  time
0         0.373009    0.380602    0.840000  00:07
Total time: 00:07

In [23]:
row = df.iloc[0]

In [24]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.4712, 0.5288]))